body {
  background-color: #191919;
  color: white;
  margin: 0px;
  padding: 0px 20px;
}

header {
  text-align: center;
  background-color: #090909;
  margin: 0 10px;
  border-radius: 0 0 15px 15px;
  padding: 20px 0;
}

main {
  max-width: 720px;
  margin: 20px auto;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 {
  font-size: 1.8em;
  margin: 0;
}

h4 {
  margin:0
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #090909;
  margin: 0 10px;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: chocolate;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.item {
  background-color: #090909;
  padding: 5px 5px 5px 20px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
}

.nav-links a {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: chocolate;
  transition: all 350ms linear;
  font-size: 1.3em;
}

.nav-links a:hover {
  background-color: white;
  color: chocolate;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promo-item {
  flex: 1 0 250px;
  margin: 0 5px;
  height: 100%;
}

.pullout {
  padding: 20px 60px 40px 60px;
}

