body {
  background-color: #202020;
  color: white;
}

header {
  text-align: center;
  background-color: black;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 5px 5px;
}

main {
  width: 720px;
  margin: 20px auto 20px auto;
}

h2 {
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
}

header a {
  color: white;
}

footer a {
  color: white;
}

footer {
  text-align: center;
  background-color: black;
  margin: 0px 20px 0px 20px;
  border-radius: 5px 5px 0px 0px;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: orange;
  padding: 5px 0px 5px 20px;
  border-radius: 5px 5px 0px 0px;
}

.item {
  background-color: black;
  padding: 5px 0px 5px 20px;
  border-radius: 0px 0px 5px 5px;

.nav-links {
  background-color: orange;
  border-radius: 2px;
}
