body {
  background-color: #202020;
  color: white;
}

header {
  text-align: center;
  background-color: orange;
}

main {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
}

.title {
  background-color: orange;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}

.in-development-item {
  background-color: #404040;
  border-radius: 0px 0px 10px 10px;

a {
  color: orange;
  text-decoration: none;
}

header a {
  color: white;
}

footer {
  text-align: center;
  background-color: orange;
}

hr {
  background-color: white;
  border: none;
}
