@import url("https://use.typekit.net/yvm8vbi.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* font info
Trajan Pro 3 Light
font-family: "trajan-pro-3", serif;
font-weight: 300;
font-style: normal;

Trajan Pro 3 Regular
font-family: "trajan-pro-3", serif;
font-weight: 400;
font-style: normal;

Trajan Pro 3 Bold
font-family: "trajan-pro-3", serif;
font-weight: 700;
font-style: normal;

Monserrat
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
*/

:root {
  --backgroundColor: rgba(4,4,4,0.7);
  --accentColor: chocolate;
  --borderColor: #202020;
  --default-font: "montserrat", sans-serif;
  --heading-font: "trajan-pro-3", serif;
}

body {
  background-image: url('images/mbg-site-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0px;
  padding: 0px 20px;
  font-family: var(--default-font);
  font-weight: 100;
}

header {
  text-align: center;
  background-color: var(--backgroundColor);
  margin: 0 10px;
  border-radius: 0 0 15px 15px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: var(--borderColor);
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.title-logo {
  text-align: center;
}

.title-logo img {
  max-width: 800px;
  width: 95%;
  height: auto;
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

.subtitle {
  text-align: center;
  margin: 0;
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: var(--backgroundColor);
  margin: 0 10px;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  border-bottom: 0px;
  border-style: solid;
  border-color: var(--borderColor);
}

hr {
  background-color: #202020;
  border: none;
  height: 1px;
}

.title {
  background-color: var(--accentColor);
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
  text-align: center;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text-box {
  flex-shrink: 0;
}

.item {
  background-color: var(--backgroundColor);
  padding: 5px 12px 5px 20px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: var(--borderColor);
}

.promo-vid {
  text-align: center;
}

.nav-links {
  margin-top: 0;
}

.nav-links a, .current-page {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: .95rem;
}

.nav-links a {
  color: white;
  background-color: var(--accentColor);
  transition: all 350ms linear;
}

.current-page{
  border: 1px solid;
  border-color: var(--borderColor);
  background-color: #151515;
}

.nav-links a:hover {
  background-color: white;
  color: var(--accentColor);
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-item {
  flex: 1 0 340px;
  margin: 0 5px;
}

.pullout {
  padding: 20px 60px 40px 60px;
  text-align: justify;
  text-justify: inter-word;
}

.arrow {
  font-size: .5rem;
}

figcaption {
  color: #DarkGrey;
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width:600px) {

  body {
    padding: 0 10px;
  }
  
  footer {
    font-size: 0.8rem;
    margin: 0;
  }

  header {
    margin: 0;
  }

  .pullout {
    padding: 20px 20px 40px 20px;
    font-size: .8rem;
  }

  
}
