body {
  background-color: #171717;
  color: white;
  margin: 0px;
}

header {
  text-align: center;
  background-color: #070707;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 15px 15px;
  padding: 20px 0px 20px 0px;
}

main {
  max-width: 720px;
  margin: 20px auto 20px auto;
}

h2 {
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #070707;
  margin: 0px 20px 0px 20px;
  border-radius: 15px 15px 0px 0px;
  padding: 20px 0px 20px 0px;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: chocolate;
  padding: 1px 0px 1px 20px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.item {
  background-color: #070707;
  padding: 5px 0px 5px 20px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20px;

.nav-links a {
  color: white;
  background-color: chocolate;
  border-radius: 5px;
}

.promo-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.promo-item {
  flex: 0 0 250px;
  max-width: 250px;
}

