body {
  background-image: url('images/mbg-site-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  margin: 0px;
  padding: 0px 20px;
}

header {
  text-align: center;
  background-color: rgba(4,4,4,0.7);
  margin: 0 10px;
  border-radius: 0 0 15px 15px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: #202020;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

.title-logo {
  text-align: center;
}

.title-logo img {
  width: 800px;
  height: auto;
  margin-bottom: 0;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  margin: 0;
}

.subtitle {
  text-align: center;
  margin: 0;
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: rgba(4,4,4,0.7);
  margin: 0 10px;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #202020;
}

hr {
  background-color: #202020;
  border: none;
  height: 1px;
}

.title {
  background-color: chocolate;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
  text-align: center;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text-box {
  flex-shrink: 0;
}

.item {
  background-color: rgba(4,4,4,0.7);
  padding: 5px 12px 5px 20px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: #202020;
}

.promo-vid {
  text-align: center;
}

.nav-links {
  margin-top: 0;
}

.nav-links a, .current-page {
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: .95rem;
}

.nav-links a {
  color: white;
  background-color: chocolate;
  transition: all 350ms linear;
}

.current-page{
  border: 1px solid;
  border-color: #202020;
  background-color: #151515;
}

.nav-links a:hover {
  background-color: white;
  color: chocolate;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-item {
  flex: 1 0 340px;
  margin: 0 5px;
}

.pullout {
  padding: 20px 60px 40px 60px;
  text-align: justify;
  text-justify: inter-word;
}

.arrow {
  font-size: .5rem;
}

figcaption {
  color: #DarkGrey;
  font-size: 0.8rem;
  font-style: italic;
}

@media only screen and (max-width:600px) {
  
  .title-logo img {
    width: 95%;
    height: auto;
    margin-bottom: 0;
  }
  
  footer {
    font-size: 0.8rem;
    margin: 0 5px;
  }

  header {
    margin: 0 5px;
  }

  .pullout {
    padding: 20px 20px 40px 20px;
  }
  
}
