body {
  background-color: #191919;
  color: white;
  margin: 0px;
  padding: 0px 20px 0px 20px;
}

header {
  text-align: center;
  background-color: #090909;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 15px 15px;
  padding: 20px 0px 20px 0px;
}

main {
  max-width: 720px;
  margin: 20px auto 20px auto;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #090909;
  margin: 0px 20px 0px 20px;
  border-radius: 15px 15px 0px 0px;
  padding: 20px 0px 20px 0px;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: chocolate;
  padding: 1px 0px 1px 0px;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
}

.item {
  background-color: #090909;
  padding: 5px 5px 5px 20px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20px;
}

.nav-links a {
  width: 50px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: chocolate;
  transition: all 350ms linear;
}

.nav-links a:hover {
  background-color: white;
  color: chocolate;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.promo-item {
  flex: 1 0 250px;
  margin: 0px 5px 0px 5px;
  height: 100%;
}

.pullout {
  padding: 20px 0px 40px 0px;
}

