body {
  background-color: #181818;
  color: white;
  margin: 0px;
}

header {
  text-align: center;
  background-color: #050505;
  margin: 0px 20px 0px 20px;
  border-radius: 0px 0px 15px 15px;
  padding-bottom: 5px 0px 5px 0px;
}

main {
  width: 720px;
  margin: 20px auto 20px auto;
}

h2 {
  text-align: center;
}

a {
  color: orange;
  text-decoration: none;
}

header a {
  color: white;
}

footer a {
  color: white;
}

footer {
  text-align: center;
  background-color: #050505;
  margin: 0px 20px 0px 20px;
  border-radius: 15px 15px 0px 0px;
  padding: 5px 0px 0px 5px;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: orange;
  padding: 2px 0px 2px 20px;
  border-radius: 15px 15px 0px 0px;
}

.item {
  background-color: #050505;
  padding: 5px 0px 5px 20px;
  border-radius: 0px 0px 15px 15px;
  margin-bottom: 20px;

.nav-links {
  background-color: orange;
  border-radius: 5px;
}
