nav {
  text-align: center;
}

main {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-align: center;
  color: orange;
}

a {
  color: orange;
}

footer {
  text-align: center;
}
