body {
  background-color: #151515;
  color: white;
  margin: 0px;
  padding: 0px 20px;
}

header {
  text-align: center;
  background-color: #090909;
  margin: 0 10px;
  border-radius: 0 0 15px 15px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: #202020;
  padding: 20px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

h1, h2, h3, h4 {
  text-align: center;
}

h3 {
  font-size: 1.8em;
  margin: 0;
}

h4 {
  margin:0
}

a {
  color: orange;
  text-decoration: none;
}

footer {
  text-align: center;
  background-color: #090909;
  margin: 0 10px;
  border-radius: 15px 15px 0 0;
  padding: 20px 0;
  border-left: 2px;
  border-right: 2px;
  border-top: 2px;
  border-bottom: 0px;
  border-style: solid;
  border-color: #202020;
}

hr {
  background-color: white;
  border: none;
  height: 1px;
}

.title {
  background-color: chocolate;
  padding: 10px 0;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.item {
  background-color: #090909;
  padding: 5px 12px 5px 20px;
  border-radius: 0 0 15px 15px;
  margin-bottom: 20px;
  border-left: 2px;
  border-right: 2px;
  border-bottom: 2px;
  border-top: 0px;
  border-style: solid;
  border-color: #202020;
}

.nav-links a {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: chocolate;
  transition: all 350ms linear;
  font-size: 1.3em;
}

.current-page{
  font-size: 1.3em;
}

.vr {
  border-color: grey;
  border-style: solid;
  border-right: 2px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  display: inline;
  width: 5px;
  height: 100%;
  margin: 0 10px 0 5px;
}

.nav-links a:hover {
  background-color: white;
  color: chocolate;
}

.promo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.promo-item {
  flex: 1 0 340px;
  margin: 0 5px;
}

.pullout {
  padding: 20px 60px 40px 60px;
}

.arrow {
  font-size: .5em;
}
